# Requirements and Conceptual Model  
Jonathan Lopez, Demy Melgar, Kasaiah Antonio, Yanuris Campusano

Dog Walking Business Data Points:
1.
b). Clients, Dogs, Walks, Payments, Scheduling, Employees
c). 
CLIENTS 
- ClientID
- First/Last Name
- Phone number
DOGS
- Breed
- Age/DateOfBirth
- DogID
- Size
- Temperment
- Spade/Neutered
WALKS
- DogID
- EmployeeID
- Duration of Walk
- Routes
- Feedback
PAYMENT
- ClientID
- DogID
- EmployeeID
- Card/Cash
SCHEDULING
- ClientID
- Type of Dog
- Client Email/Phone number
- Date/Time
EMPLOYEES
- EmployeeID
- First/Last Name
- Work Schedule/Start times
- Assigned roles


2) Continue editing with Ex2B_Model_Brainstorm.md (either in GitHub or locally by 
opening the file in Notepad) and add a new header, #Logical Model. Under the new 
header, continue making notes:

#Logical Model

a). Clients, Dogs, Payment, Employees
b). pk(Primary Key) | fk(Foreign Key) 
    Table Relationships - Payment: Many to One | Client: One to Many | Dogs: One to Many | Employees: One to Many

CLIENTS 
- ClientID(pk)
- First/Last Name
- Phone number
PAYMENT
- ClientID(fk)
- DogID(fk)
- EmployeeID(fk)
- Card/Cash
DOGS
- Breed
- Age/DateOfBirth
- DogID(pk)
- Size
- Temperment
- Spade/Nutuerd
EMPLOYEES
- EmployeeID(pk)
- First/Last Name
- Work Schedule/Start times
- Assigned roles
    
